@import url('https://fonts.googleapis.com/css2?family=Jura&family=Oswald&family=Raleway&family=Roboto&family=Roboto+Condensed&family=Titillium+Web&display=swap');

/* =================================================================== */
/* ===================== Scrollbar setting start ===================== */
/* =================================================================== */

/*
@supports (scrollbar-color: red blue) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #7791cc #27496D;
    }
} */

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
    background: black;
}

::-webkit-scrollbar-track {
    margin-block: .05em;
    border-radius: 100vw;
    background: #000;
    box-shadow: inset .07rem .07rem .4rem #ffffff75;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    box-shadow: 0 .05em .55em #000000,
        inset .1em .1em .35em #ffffff75;
    background: #464646;
}

::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
    box-shadow: inset .07rem .07rem .3rem #ffffffe5;
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff;
    box-shadow: inset .07rem .07rem .3rem #000000b2;
}

::selection {
    color: #211856;
    background-color: #7e6da5;
    text-shadow: .07em .07em .15em #6d4a4acc;
}

/* =================================================================== */
/* ====================== Scrollbar setting end ====================== */
/* =================================================================== */



/* =================================================================== */
/* ==================== Fundamental presets start ==================== */
/* =================================================================== */

html {
    scroll-behavior: smooth;
    background-color: #121018;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =================================================================== */
/* ===================== Fundamental presets end ===================== */
/* =================================================================== */



/* =================================================================== */
/* ================= Navigation bar (general) start ================== */
/* =================================================================== */

header {
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    height: 10em;
    z-index: 10;
    font-family: "Jura";
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(258, 100%, 94%, 0.8);
    box-shadow: .3em .3em .7em hsla(0, 0%, 0%, 0.4);
    transition: height 0.3s, background-color .3s ease-in-out;
}

#main-header.scrolled {
    background-color: hsla(258, 23%, 28%, 0.98);
    height: 6.5em;
}


#main-header.scrolled #logo-container img {
    width: clamp(4em, 15vw, 6em);
}

#main-header.scrolled #navbar>ul>li>a {
    color: #fff;
}

#main-header.scrolled #navbar>ul>li.active>a {
    --active: #8b79b8;
    color: var(--active);
    text-shadow: 1px 1px 3px #000;
}

#main-header.scrolled #navbar>ul>li>a::after {
    background: #fff;
}

#main-header.scrolled #navbar>ul>li.active>a::after {
    background: #8b79b8;
}

#logo-container {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2em;
}

#logo-container img {
    transition: width .3s;
    padding: 10px 10px;
    width: 100%;
    height: auto;
    width: clamp(4em, 15vw, 7.5em);
}

#navbar {
    text-align: right;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

nav ul li a {
    color: #000000;
    display: block;
    font-weight: bold;
    user-select: none;
    text-decoration: none;
    padding: .5em .5em .75em;
    text-shadow: 1px 1px 3px hsl(0, 0%, 50%);
    transition: all .25s ease-in-out;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

nav ul li.active a {
    color: var(--active);
}

nav li:hover>a,
nav li>a:focus {
    border: none;
    outline: none;
    transform: scale(1.15);
}

#navbar>ul>li {
    position: relative;
}

#navbar>ul>li>a::after {
    position: absolute;
    left: 50%;
    width: 0%;
    content: '';
    height: 2px;
    bottom: .25em;
    background: #000000;
    transition: all .35s ease-in-out;
}

#navbar>ul>li:hover>a::after,
#navbar>ul>li>a:focus:after {
    left: 0;
    width: 100%;
    transform: scale(.92);
}

/* =================================================================== */
/* ================== Navigation bar (general) end =================== */
/* =================================================================== */



/* =================================================================== */
/* ===================== Burger button (nav) start =================== */
/* =================================================================== */

#burger-icon {
    margin-right: .4em;
    --size: 3em;
    z-index: 15;
    display: none;
    cursor: pointer;
    position: relative;
    user-select: none;
    width: var(--size);
    height: var(--size);
    padding: calc(var(--size)*.1);
}

#burger-icon>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--size)*.12);
    transition: transform .5s ease-in-out;
}

#burger-icon>div>span {
    width: 100%;
    --size2: .5em;
    height: var(--size2);
    border-radius: 100vw;
    background-color: #aea6ed;
    transition: width .5s ease-in-out,
        opacity .55s ease-in-out,
        transform .5s ease-in-out,
        background .5s ease-in-out;
}

#burger-icon.open>div {
    transform: translateX(34.5%);
}

#burger-icon.open>div>span {
    background: hsl(256, 13%, 46%);
}

#burger-icon.open>div>span:nth-child(1) {
    transform-origin: center;
    transform: rotate(-45deg) translateX(-50%);
}

#burger-icon.open>div>span:nth-child(2) {
    width: 0%;
    opacity: 0;
    transform-origin: right;
}

#burger-icon.open>div>span:nth-child(3) {
    transform-origin: center;
    transform: rotate(45deg) translateX(-50%);
}

/* =================================================================== */
/* ===================== Burger button (nav) end ===================== */
/* =================================================================== */



/* =================================================================== */
/* ========== Scroll to top, language button & overlay start ========= */
/* =================================================================== */

#overlay {
    z-index: 5;
    width: 100%;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    background: #00000000;
    transition: background .4s ease-in-out;
}

#overlay.active {
    pointer-events: auto;
    background: hsla(0, 0%, 0%, 0.7);
}

#start {
    background: url('../img/full_logo.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#up {
    width: 2em;
    z-index: 2;
    right: .7em;
    height: 2em;
    bottom: .7em;
    display: flex;
    cursor: pointer;
    position: fixed;
    user-select: none;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    background: hsla(0, 0%, 80%, 0.5);
    font-size: clamp(1.35rem, 4vw, 1.7rem);
    transition: transform 400ms ease-in-out,
        background 150ms ease-in-out;

    box-shadow: .01em .01em .05em hsl(0, 0%, 100%);
    transform: translateX(150%) rotate(-180deg);
}

#up i {
    color: #fff9e1;
    font-weight: bold;
    text-shadow: .02em .02em .2em hsl(0, 0%, 0%);
}

#up.scrolled {
    transform: rotate(0);
    transform: translateX(0);
}

#up.scrolled:hover {
    background: hsla(0, 0%, 100%, .8);
}

#up.scrolled:active {
    transform: scale(.92);
    background: hsl(0, 0%, 50%);
    transition: transform 50ms ease-in;
}

#language.english {
    background-image: url('../img/de.webp');
}

#language.german {
    background-image: url('../img/en.png');
}

#language {
    z-index: 2;
    top: 11rem;
    left: auto;
    right: .7em;
    width: 2em;
    height: 2em;
    display: flex;
    cursor: pointer;
    user-select: none;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    --blend: #28146166;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--blend);
    background-blend-mode: overlay;
    transition: transform 50ms ease-in;
    font-size: clamp(1.1em, 5vw, 1.7em);
    box-shadow: 2px 2px 5px #141414c9;
}

#language:hover,
#language:focus {
    border: none;
    outline: none;
    --blend: #141e613b;
    transform: scale(1.07);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.644);
}

/* =================================================================== */
/* =========== Scroll to top,language button & overlay end =========== */
/* =================================================================== */



/* =================================================================== */
/* ========================= Sections start ========================== */
/* =================================================================== */

#introduction,
#equipment,
#outlook {
    width: 100%;
    display: flex;
    min-height: 100vh;
    padding: 10vh 5vw;
    align-items: center;
    justify-content: center;
    background-color: #121018;
    outline: 1px solid hsla(0, 0%, 100%, 0.5);
}

.section-div {
    width: 100%;
    max-width: 66em;
}

.section-div h2 {
    font-size: clamp(2rem, 3vw, 2.5rem);
    color: #fff;
    text-align: justify;
    font-family: 'oswald';
}

.section-div p {
    color: #fff;
    text-align: justify;
    padding: 1em 0;
    font-family: 'Raleway';
    line-height: 2.5rem;
    font-size: clamp(1.2rem, 3vw, 1.6rem);
}

.section-div img {
    width: 100%;
    height: auto;
    border-radius: .5vw;
}

.image-container {
    width: 100%;
    gap: .6em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.image-container>img {
    width: 49%;
}

.scroll-transition {
    opacity: 0;
    transform: translateY(40%);
    transition: transform 0.25s ease-in,
        opacity .35s ease-in;
}

.scroll-transition.active {
    opacity: 100;
    transform: translateY(0);
}

/* =================================================================== */
/* ========================== Sections end =========================== */
/* =================================================================== */



/* =================================================================== */
/* ========================== Footer Start =========================== */
/* =================================================================== */

footer {
    background: url("../img/footer.png") no-repeat;
    gap: 2em;
    width: 100%;
    display: flex;
    overflow: hidden;
    font-size: 1.3em;
    min-height: 20em;
    color: #DBEDF3;
    text-align: center;
    align-items: center;
    padding: 2em 2em 1em;
    flex-direction: column;
    justify-content: space-around;
    --blend: hsla(262, 100%, 1%, 0.6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--blend);
    background-blend-mode: overlay;
    font-weight: 500;
    letter-spacing: .1em;
    font-family: 'Roboto Condensed';
}

.about-us {
    row-gap: 2em;
    column-gap: 5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.contact-us {
    text-align: right;
    text-align: left;
    font-weight: 500;
    letter-spacing: .1em;
}

footer h4 {
    font-weight: 100;
    font-size: 1.7rem;
    padding-bottom: 1em;
    font-family: 'oswald';
    color: hsl(255, 14%, 76%);
    text-shadow: 1px 1px 3px #000;
}

.contact {
    padding-top: .8em;
    list-style-type: none;
}


.contact:nth-child(3)>i {
    margin: 0 2.5px;
}

.contact-link {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

.contact-link:hover {
    color: hsl(255, 49%, 69%);
    /* text-decoration: underline; */
}

.icons {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

.fa-linkedin-in {
    margin-left: .3em;
}

.icons-hover {
    transform: scale(1.1);
    transition: transform .25s ease-in-out;
}

.icon-focus:focus {
    border: none;
    outline: none;
}

.icons-hover:hover,
.icon-focus:focus>i {
    cursor: pointer;
    transform: scale(1.45);
    text-shadow: 0 0 .6em currentColor;
}

#map {
    border: 0;
    opacity: .4;
    width: 250px;
    height: 200px;
    margin-top: 15px;
    transition:
        opacity 400ms ease,
        width 400ms ease;
    transition-delay: 250ms;
    border-radius: max(10px, .7vw);
}

#map:hover,
#map:focus,
#map.hovered {
    border: 0;
    opacity: 1;
    width: 100%;
    margin-top: 15px;
}

#copyright {
    opacity: .5;
    margin-top: 1.5em;
    font-size: clamp(1rem, 3vw, 1.3rem);
}

/* ================================================================= */
/* ===========================Footer End============================ */
/* ================================================================= */



/* =================================================================== */
/* =========================== Phone start =========================== */
/* =================================================================== */

@media (max-width: 600px) {

    header {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    #main-header.scrolled {
        height: inherit;
    }

    #logo-container {
        width: 100%;
        justify-content: space-between;
    }

    #navbar {
        width: inherit;
    }

    #navbar ul {
        flex-direction: column;
        align-items: center;
        width: inherit;
        transition: max-height 0.5s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

    #navbar li {
        outline: hsla(0, 0%, 100%, 0.3) solid 1px;
        margin: 0px;
        text-align: center;
        padding: .8em;
        width: inherit;
        background: #281f3b;
    }

    #navbar li a {
        color: #e3e3e3;
    }

    #navbar.expanded ul {
        max-height: 500px;
    }

    #navbar>ul>li>a::after {
        background: #e3e3e300;
    }

    #language {
        top: 5em;
    }

    #burger-icon {
        display: grid;
    }

    .image-container>img {
        width: 100%;
    }

    #map {
        display: none
    }
}

/* =================================================================== */
/* ============================ Phone end ============================ */
/* =================================================================== */